h1 {
  
  font-family: "Arial" , sans-serif;

  text-align: center
}

p { 

  font-family: "Arial" , sans-serif;

  text-align: center
}

#ultra {
  
  font-family: "Arial" , sans-serif;
  
  text-align: left

}

#orange {

  font-family: "Arial" , sans-serif;

  text-align : center

}

#mini {

  font-family: "Arial" , sans-serif;

  text-align : right

}

#meetthedevs {

  text-align : center;
  font-family: "Arial" , sans-serif;

}

#minipic {

  width: 100px;

  height: 100px;

}

#orangepic {

  width: 100px;

  height: 100px;

}

#ultrapic {

  width: 100px;

  height: 100px;

}
