h1 {
  
  font-family: "Arial" , sans-serif;

  text-align: center
}

p { 

  font-family: "Arial" , sans-serif;

  text-align: center
}

#ultra {
  
  font-family: "Arial" , sans-serif;
  
  text-align: left

}

#orange {

  font-family: "Arial" , sans-serif;

  text-align : center

}

#mini {

  font-family: "Arial" , sans-serif;

  text-align : right

}

#meetthedevs {

  text-align : center;
  font-family: "Arial" , sans-serif;

}

#minipic {

  width: 200px;

  height: 200px;

}

#orangepic {

  width: 200px;

  height: 200px;

}

#ultrapic {

  width: 200px;

  height: 200px;

}

#developerdiv {
  
   display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
}
